<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sage50Connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sage50Connector.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>value</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>C:\Users\adeel\source\repos\Sage50Connector\Logs</value>
            </setting>
            <setting name="sageCompany" serializeAs="String">
                <value>C:\sage\Peachtree\Company\Sample\PPA\BCS</value>
            </setting>
            <setting name="companyId" serializeAs="String">
                <value><REDACTED_ACCESS_TOKEN></value>
            </setting>
            <setting name="access_token" serializeAs="String">
                <value><REDACTED_ACCESS_TOKEN></value>
            </setting>
            <setting name="client_id" serializeAs="String">
                <value>5715981f-b2ea-4578-af9e-e57cb12ac6c</value>
            </setting>
            <setting name="client_secret" serializeAs="String">
                <value>production_pk_60aa6a21-e98e-4ccb-83dd-5887ff298d35</value>
            </setting>
            <setting name="base_url" serializeAs="String">
                <value>production.rutterapi.com/versioned/ingest</value>
            </setting>
            <setting name="asset_account_types" serializeAs="String">
                <value>AccumulatedDepreciation,Cash,CostSales,FixedAsset,Inventory,OtherAssets,OtherCurrentAsset,Receivable,ReceivableRetainage</value>
            </setting>
            <setting name="liabilities_account_types" serializeAs="String">
                <value>OtherCurrentLiability,OtherLiability,Payable,PayableRetainage</value>
            </setting>
            <setting name="equity_account_types" serializeAs="String">
                <value>EquityClose,EquityNoClose,Expense,Income,RetainedEarnings</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="platform" serializeAs="String">
                <value>SAGE_50_US</value>
            </setting>
        </Sage50Connector.Properties.Settings>
    </userSettings>
</configuration>