<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sage50Connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Sage50Connector.Properties.Settings>
      <setting name="id" serializeAs="String">
        <value>937f2e3b-d67e-4d0d-a9a8-c158823243a3</value>
      </setting>
      <setting name="platform" serializeAs="String">
        <value>SAGE50</value>
      </setting>
      <setting name="companyId" serializeAs="String">
        <value>a3b9a083-b22f-4aeb-bce0-0b40566b56f0</value>
      </setting>
      <setting name="access_token" serializeAs="String">
        <value>cd1b485e-971d-43d4-964f-df21e8893597</value>
      </setting>
      <setting name="client_id" serializeAs="String">
        <value>5715981f-b2ea-4578-af9e-e57cb12ac6ca</value>
      </setting>
      <setting name="client_secret" serializeAs="String">
        <value>production_sk_025f7a9b-4b63-461e-99e3-c2d18be27cc5</value>
      </setting>
      <setting name="base_url" serializeAs="String">
        <value>https://production.rutterapi.com/versioned</value>
      </setting>
      <setting name="sageCompany" serializeAs="String">
        <value>Bellwether Garden Supply</value>
      </setting>
      <setting name="logPath" serializeAs="String">
        <value></value>
      </setting>
      <setting name="asset_account_types" serializeAs="String">
        <value>Cash,Receivable,Inventory,OtherCurrentAsset,FixedAsset,AccumulatedDepreciation,OtherAssets</value>
      </setting>
      <setting name="liabilities_account_types" serializeAs="String">
        <value>Payable,OtherCurrentLiability,OtherLiability</value>
      </setting>
      <setting name="equity_account_types" serializeAs="String">
        <value>EquityNoClose,RetainedEarnings,EquityClose</value>
      </setting>
    </Sage50Connector.Properties.Settings>
  </userSettings>
</configuration>
