<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sage50Connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Sage50Connector.Properties.Settings>
      <setting name="id" serializeAs="String">
        <value><REDACTED_CONNECTION_ID></value>
      </setting>
      <setting name="platform" serializeAs="String">
        <value>SAGE50</value>
      </setting>
      <setting name="companyId" serializeAs="String">
        <value><REDACTED_COMPANY_ID></value>
      </setting>
      <setting name="access_token" serializeAs="String">
        <value><REDACTED_ACCESS_TOKEN></value>
      </setting>
      <setting name="client_id" serializeAs="String">
        <value><REDACTED_CLIENT_ID></value>
      </setting>
      <setting name="client_secret" serializeAs="String">
        <value><REDACTED_PRODUCTION_CLIENT_SECRET></value>
      </setting>
      <setting name="base_url" serializeAs="String">
        <value>https://production.rutterapi.com/versioned</value>
      </setting>
      <setting name="sageCompany" serializeAs="String">
        <value>Bellwether Garden Supply</value>
      </setting>
      <setting name="logPath" serializeAs="String">
        <value></value>
      </setting>
      <setting name="asset_account_types" serializeAs="String">
        <value>Cash,Receivable,Inventory,OtherCurrentAsset,FixedAsset,AccumulatedDepreciation,OtherAssets</value>
      </setting>
      <setting name="liabilities_account_types" serializeAs="String">
        <value>Payable,OtherCurrentLiability,OtherLiability</value>
      </setting>
      <setting name="equity_account_types" serializeAs="String">
        <value>EquityNoClose,RetainedEarnings,EquityClose</value>
      </setting>
    </Sage50Connector.Properties.Settings>
  </userSettings>
</configuration>
